<!doctype html>
<html lang="en">
  <head>
    {{ content_for_header }}
    {% render 'head' %}
    <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet">
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </head>
  <body>
    {% section 'header' %}
    <div class="cart-drawer"><button class="close-cart">X</button><p>Cart Items Here</p></div>
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
</html>